<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6818277566173475"
     crossorigin="anonymous"></script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6818277566173475"
     crossorigin="anonymous"></script>
<!-- ad1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6818277566173475" data-ad-slot="4025700878"
     data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>