---
// src/components/Adsense.astro
---
<div class="my-6 text-center">
  <script
    async
    is:inline
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6818277566173475"
    crossorigin="anonymous"
  ></script>
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-6818277566173475"
    data-ad-slot="7216148023"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script is:inline>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>